body {
    background-color: #121212;
    color: white;
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    font-size: 18px;
}
.container {
    margin: 2em auto;
    max-width: 600px;
    padding: 0 2em;
    box-sizing: content-box;
}
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
header h1 {
    font-size: 1em;
    font-weight: 700;
}
header span {
    font-size: .75em;
    opacity: .6;
    display: block;
}
nav {
    margin-top: 20px;
    font-size: .75em;
    display: flex;
    gap: 10px;
}
nav span {
    opacity: .6;
    border-left: 1px solid white;
    height: 80%;
}
nav a {
    text-decoration: none;
    opacity: .6;
}
nav a:hover, .selected {
    opacity: 1;
    text-decoration: underline;
}
main {
    text-align: left;
}
main article > a {
    color: white;
    /* text-decoration: underline; */
    font-size: .75em;
    margin-bottom: .5em;
    display: block;
    position: relative;
}
main a:hover {
    text-decoration: underline;
}
main a:hover:after {
    content: " â†";
    text-decoration: none;
    position: absolute;
    margin-left: 10px;
    font-size: 1.5em;
    height: 100%;
    top: -25%;
}
h1, h2, h3, h4, h5, h6, p, li {
    font-size: .75em;
    line-height: 1.5em;
}
h2 {
    color: crimson;
    margin-bottom: 1em;
    font-weight: 700;
}
p + p {
    margin-top: 1em;
}
.tag {
    background-color: #333;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: .75em;
    margin-right: 5px;
}
section {
    margin-bottom: 2em;
}
section:not(.about) p {
    opacity: .6;
}
section a {
    color: lightpink;
}
article {
    position: relative;
}
article span.date {
    font-size: .6em;
    opacity: .6;
    position: absolute;
    top: 0;
    right: 0;
}
ul {
    list-style-type: disc;
    padding-left: 1em;
}
li p, li h3 {
    font-size: 1em;
}
.work > div {
    margin-bottom: 1em;
}